################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BleConsoleClient/bin/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/.vs/TF-Luma-BleClients.slnx/v18/.suo
/.vs/TF-Luma-BleClients.slnx/v18/DocumentLayout.backup.json
/.vs/TF-Luma-BleClients.slnx/v18/DocumentLayout.json
/BleConsoleClient/bin/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.dll
/BleConsoleClient/bin/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.exe
/BleConsoleClient/bin/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.pdb
/BleConsoleClient/bin/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/ref/BleConsoleClient.dll
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/refint/BleConsoleClient.dll
/BleWpfClient/bin/Debug/net10.0-windows10.0.19041.0/BleWpfClient.dll
/BleWpfClient/bin/Debug/net10.0-windows10.0.19041.0/BleWpfClient.exe
/BleWpfClient/bin/Debug/net10.0-windows10.0.19041.0/BleWpfClient.pdb
/BleWpfClient/bin/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/BleWpfClient/bin/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/ref/BleWpfClient.dll
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/refint/BleWpfClient.dll
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/refint/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.AssemblyInfo.cs
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.AssemblyInfoInputs.cache
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.assets.cache
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.csproj.FileListAbsolute.txt
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.sourcelink.json
/Tf-Luna.BleClientLib/bin/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/bin/Debug/net10.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient_MarkupCompile.i.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/MainWindow.g.cs
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/MainWindow.g.i.cs
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/refint/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.AssemblyInfo.cs
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.AssemblyInfoInputs.cache
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.assets.cache
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.csproj.FileListAbsolute.txt
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.sourcelink.json
/Tf-Luna.BleClientLib/bin/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/bin/Debug/net8.0-windows10.0.19041.0/Tf-Luna.BleClientLib.pdb
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.pdb
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.sourcelink.json
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient_MarkupCompile.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.csproj.FileListAbsolute.txt
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.dll
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.genruntimeconfig.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.AssemblyInfoInputs.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.csproj.AssemblyReference.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.csproj.CoreCompileInputs.cache
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/App.g.cs
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/apphost.exe
/BleWpfClient/obj/Debug/net10.0-windows10.0.19041.0/BleWpfClient.AssemblyInfo.cs
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.pdb
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.sourcelink.json
/Tf-Luna.BleClientLib/obj/Debug/net10.0-windows10.0.19041.0/ref/Tf-Luna.BleClientLib.dll
/Tf-Luna.BleClientLib/obj/Debug/net8.0-windows10.0.19041.0/ref/Tf-Luna.BleClientLib.dll
/.vs/TF-Luma-BleClients.slnx/FileContentIndex/a579f460-c6a1-46b9-9327-7b9fc6bf3905.vsidx
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/apphost.exe
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.AssemblyInfo.cs
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.AssemblyInfoInputs.cache
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.csproj.AssemblyReference.cache
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.csproj.CoreCompileInputs.cache
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.csproj.FileListAbsolute.txt
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.dll
/BleConsoleClient/obj/Debug/net8.0-windows10.0.19041.0/BleConsoleClient.genruntimeconfig.cache
